.pet-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

.pet-details {
  margin-left: 2em;
}

.pet-details h2 {
  font-size: 2rem;
}

.pet-details p {
  font-size: 1.3rem;
}