.header {
  background: transparent;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: white;
}

.brand-title {
  font-size: 1.2rem;
  color: var(--title);
  font-weight: bold;
}

.nav-toggle {
  height: fit-content;
  width: 30px;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.nav-toggle.expanded .line {
  background: white;
}

.nav-toggle.light {
  background: white;
}
.line {
  height: 2px;
  margin: 4px 0;
  background: var(--accent-primary);
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}