body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title);
  font-weight: bold;
}

p {
  color: var(--text);

}

:root {
  --title: #243B53;
  --text: #486581;
  --accent-primary: #4C63B6;
  --input: #F0F4F8;
  --bg: #F0F4F8;
  --accent-secondary: #E9B949;
  --danger: #D64545;
  --disabled: #BCCCDC;
}

.title-hg {
  font-size: 5rem;
  font-weight: 700;
  color: var(--title);
}

.text-block {
  line-height: 1.8em;
  font-size: 1.3rem;
  color: var(--text);
}

hr {
  background: #D9E2EC;
  border: none;
  margin: 1.5em 0;
  height: 1px;
}
.title-lg {
  font-size: 2.5rem;
  font-weight: 700;
}

.title-sm {
  font-size: 1rem;
  font-weight: bold;
  color: var(--title);

}

.text-danger {
  color: var(--danger);
}

.bg {
  padding: 1em;
  background-color: var(--bg);
  border-radius: 8px;
}

.accent-primary {
  color: var(--accent-primary);
} 

.link {
  color: var(--accent-primary);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .title-hg {
    font-size: 2rem;
  }
}

@media screen and (max-width: 428px) {
  .page-header {
    flex-direction: column;
  }

  .page-header > .title-lg {
    margin-bottom: 0.5em;
  }
}