.map-wrapper {
  width: 100%;
  height: 500px;
  background: var(--bg);
}

#map {
  width: 100%;
  height: 100%;
}

.map-navigate {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.map-navigate-wrapper {
  width: 100%;
  background-color: var(--accent-primary);
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.info-window {
  height: fit-content;
}