.address-wrapper {
  background-color: var(--bg);
  border-radius: 8px;
  padding: 1em;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0.5em 0;
}

.address-street {
  color: var(--accent-primary);
  transition: all 0.2s ease;

}

.address-details {
  color: var(--text);
  transition: all 0.2s ease;

}

.address-wrapper:hover {
  background: var(--accent-primary);
  box-shadow: 0px 2px 15px rgba(0,0,0,0.5);
}
.address-wrapper:hover .address-street {
  color: white;
}

.address-wrapper:hover .address-details {
  color: var(--bg);
}