.form {
  width: 100%;
  max-width: 800px;
  margin-top: 2em;
}

.form.center {
  margin-left: auto;
  margin-right: auto;
}
.form-white {
  background-color: white;
  padding: 1em;
  border-radius: 8px;
}

.form.wide {
  max-width: 100%;
}
.field-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input {
  background:var(--input);
  padding: 0.4em 0.8em;
  border-radius: 3px;
  color: var(--text);
}

.input::placeholder {
  font-style: italic;
}

.label {
  color: var(--text);
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="date"] {
  padding: 0.5em;
  border-radius: 3px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: var(--bg);
  color: var(--text);
}

.date-picker {
  width: fit-content;
}

.remove-vaccine {
  display: none;
  color: var(--danger);
  font-size: 1.3rem;
  margin-right: 1em;
}

.has-remove:hover > .remove-vaccine {
  display: flex;
}

.search {
  width: 100%;
  font-size: 2rem;
}

.vaccine.error {
  border: 2px solid var(--danger);
  padding: 0.3em;
}